
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>All events</title>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar" aria-expanded="false"
              aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span> <span
              class="icon-bar"></span> <span class="icon-bar"></span> <span
              class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" th:href="@{/}">Home page</a>
      <a sec:authorize="hasRole('ADMIN')" class="navbar-brand" href="#" th:href="@{/events/generateEvent}">Generate event</a>
      <a class="navbar-brand" href="#" th:href="@{/mytickets}">Check your tickets</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>
<br>
<div class="container">
  <h2>Events:</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name </th>
      <th>Date </th>
      <th>Place name </th>
      <th>All tickets </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event: ${events}">
      <td th:text="${event.id}" />
      <td th:text="${event.name}" />
      <td th:text="${event.date}" />
      <td th:text="${event.placeName}" />
      <td th:text="${event.getTickets().size()}" />
      <td>
        <a th:href="@{/events/event/{id}(id=${event.id})}"> Check tickets</a>
      </td>
      <td>
      </td>
    </tr>
    </tbody>
  </table>
</div>

</div>
</body>
</html>